<!DOCTYPE html>
<html>

    <head>
     <meta charset='utf-8'>
     <meta http-equiv="X-UA-Compatible" content="chrome=1">
     <meta name="description" content="Iuliaduta.GitHub.io : ">
 
     <link rel="stylesheet" type="text/css" media="screen" href="{{ "/ASD/stylesheets/stylesheet.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" type="text/css" media="screen" href="{{ "/ASD/stylesheets/index.css" | prepend: site.baseurl }}">
 
     <title>IuliaDuta</title>
   </head>

    <body>

        <div id="header_wrap" class="outer">
            <header class="inner">
     
               <h1 id="project_title"> ASD Seminar 2016/2017 </h1>
               <h2 id="project_tagline"></h2>
     
             </header>
         </div>

    <div id="main_content_wrap" class="outer">
       <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>


    <!-- mathjax -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </body>
</html>
